/* variable */
:root {
    --darkCustom:#0c001d;
    --lightCustom:#1d3b9f;
}


/* global */
html, * {
    overflow-x:hidden;
    
}


body {
    color:var(--darkCustom) !important;
}

header {
    background-image:linear-gradient(90deg, var(--lightCustom), var(--darkCustom));
}

/* Classes */
.currentCard {
    border:5px solid var(--lightCustom) !important;
}

.lightCustom {
    background-color:var(--lightCustom);
}

.darkCustom {
    background-color:var(--darkCustom);
}

.pastSearchBtn, .cityOptionList {
    background-image:linear-gradient(90deg, var(--lightCustom) 0%, var(--darkCustom) 40%);
    border:none !important;
    transition: all .3s;
    
}

.pastSearchBtn:hover, .cityOptionList:hover {
    transform: translate(1em);
}

.skewPos {
    transform: skewY(15deg);
    transition: all .3s;
}

.skewNeg {
    transform: skewY(-15deg);
    transition: all .3s;
    position:relative;
    top:60px;
}

.slide {
    transform: translateX(3000px);
    transition: all .5s;
}

ul {
    list-style-type: none;
}

/* media queries */
@media only screen and (max-width:768px) {
    .skewPos {
        transform:none;
        height:50% !important;
    }

    .skewNeg {
        transform:none;
    }

    .card-text img {
        width:15% !important;
    }
    
}
